doctype html
html
  head
    meta(charset='utf-8')
    title Title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Description')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='og:title', content='Title')
    meta(name='og:url', content='Url')
    meta(name='og:image', content='build/images/image.jpg')
    meta(name='og:description', content='Description')
    meta(name='og:site_name', content='Title')
    meta(name='og:type', content='Site')
    link(href='Repobaselink', rel='canonical')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='../build/styles/style.min.css', rel='stylesheet')
  body
    include ../_partials/global/nav.pug

    block body
      
    script(src='../build/scripts/scripts.min.js')
