doctype html
html
  head
    meta(charset='utf-8')
    title Repobase
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Repobase')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='og:title', content='Repobase')
    meta(name='og:url', content='Repobaselink')
    meta(name='og:image', content='build/images/repobase-min.jpg')
    meta(name='og:description', content='Repobase')
    meta(name='og:site_name', content='Repobase')
    meta(name='og:type', content='site')
    link(href='Repobaselink', rel='canonical')
    link(href='https://fonts.googleapis.com/css?family=Titillium+Web:300,300i,400,600,700', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='../build/styles/style.min.css', rel='stylesheet')
  body
    block body
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/10.0.1/js/smooth-scroll.min.js')
    script(src='../build/scripts/scripts.min.js')
